<!DOCTYPE html>
<html>
  <head>
    <title>DevisePrectice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p><%= notice %></p>
    <p><%= alert %></p>
    <% if user_signed_in? %>
      <p>안녕하세요.<%= current_user.username %>님!! <%= link_to :log_out, destroy_user_session_path, method: :delete, :data => {:confirm => '로그아웃 하시겠습니까?'} %></p>
    <% else %>
      <%= link_to :sign_up, new_user_registration_path %>
      <%= link_to :log_in, new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
